@import url("overrides.css");
/* CSS Document */
/* The code is making the image responsive. */
.img-responsive {
	width: 100% !important;
	height: auto;
}

.bg-white {
	background: white !important;
}

/* Setting the margin to 0 for all h1, h2, h3, h4, and h5 tags. */
#container-header {
	margin-bottom: 20px;
}

/* The code is changing the color of the pagination links to red. */
.pagination li a {
	color: #e03438 !important;
}

/* The code is changing the background color of the active page to red and the text color to white. */
.pagination li.active a {
	background-color: #e03438 !important;
	color: #f4f4f4 !important;
}

/* Setting the background color of the page-inner-header to red. */
.page-inner-header {
	padding: 10px;
	background: #e03438;
	line-height: 100px;
}

/* The code is changing the color of the h1 tag to white. */
.page-inner-header h1 {
	color: #f4f4f4 !important;

}

/* The code is creating a class called btn-red. This class will be used to style the buttons on the page. */
.btn-red {
	background: #a13436;
	color: #f4f4f4;
}

/* The code is changing the background color of the button when the mouse hovers over it. */
.btn-green:hover {
	background: #064d26 !important;
	color: #f4f4f4 !important;
}

.btn.btn-social {
	padding: 6px 5px;
	color: black;
}

.padded-20 {
	padding: 20px;
}

.bg-gray {
	background: #eee;
}

.home-block {
	margin: 0 0 50px 0;
}

.home-block__title {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

/* breadcrumb */
.uk-breadcrumb {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0;
	list-style: none;
	margin: 0 0 20px 0;
}

.uk-breadcrumb li {
	position: relative;
}

.uk-breadcrumb li.uk-active {
	color: #999;
}

.uk-breadcrumb li:after {
	content: '/';
	display: inline-block;
	margin: 0 10px;
	color: #bbb;
}

.uk-breadcrumb li:last-child::after {
	display: none;
}


/* Setting the transition for all elements to 0.3 seconds. */
* a, * img, button {
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	color: #e03438;
	text-decoration: none !important;
	overflow: hidden;
}

/* Making the text color change to red when you hover over it. */
* a:hover, * a:hover h1, * a:hover h2, * a:hover h3 {
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	color: #e03438 !important;
	text-decoration: underline;
}

/* Making the text float to the right. */
.f-right {
	float: right !important;
}

/* Making the float left. */
.f-left {
	float: left !important;
}

/* Setting the background color of the block title to a light gray. */
.block-title {
	background: #f6f6f6;
	z-index: 900;
	padding-right: 20px;
}


/* Setting the margin to 0 for all elements with the class "no-m". */
.no-m {
	margin: 0 !important;
}

/* Removing the padding and margin from the left and right side of the page. */
.no-pm {
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
}

/* Setting the display property to block. */
.d-block {
	display: block;
}

/* Setting the margin-bottom to 30px. */
.mb-30 {
	margin-bottom: 30px !important;
}

.mb-20 {
	margin-bottom: 20px !important;
}

.mt-20 {
	margin-top: 20px !important;
}

.mb-15 {
	margin-bottom: 15px !important;
}

/* The code is setting the margin and padding to 0 for the container-fluid class. */
.container-fluid {
	margin: 0 !important;
	padding: 0 !important;
}

/* Setting the opacity of the image to 0.9. */
a img {
	opacity: 0.9;
	-webkit-opacity: 0.9;
	-moz-opacity: 0.9;
}

/* Creating a class called block-icon. */
.block-icon {
	display: inline-block;
	margin-right: 20px;
}

/* Making the image opaque when the mouse hovers over it. */
a:hover img {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
}

/* Setting the direction of the text to left to right. */
#lt-news {
	direction: ltr;
}

.lt-news-item {
	display: flex;
	flex-direction: column;
	min-height: 380px;
}

.lt-news-item > a {
	flex: 1;
}

.lt-news-item img {
	height: 370px;
	object-fit: cover;
}

.lt-news-item--sm {
	display: block;
	max-height: 150px;
	overflow: hidden;

}


/* Changing the opacity of the image when the mouse hovers over it. */
section#latest-news a:hover img {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-webkit-transform: scale(1.07, 1.07);
	-moz-transform: scale(1.07, 1.07);
}

/* Creating a class called news-latest. */
.news-latest {
	margin-bottom: 15px;
	border-bottom: 7px solid #dbdbdb;
}

/* Setting the color of the title to red. */
.red-title, .red-title a, .white-title {
	color: #a13436 !important;
	text-decoration: none;
	z-index: 1000;
	line-height: 1.4em;
	margin-bottom: 4px;
}

.title-trimmed {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* The code is changing the color of the title to white. */
.white-title {
	color: #ffffff !important;
}


/* Creating a bar graph. */
.title-graph {
	display: block;
	width: 80%;
	height: 5px;
	background: #dbdbdb;
	position: absolute;
	top: 40px;
	left: 0;
	z-index: 0;
}


/* Removing the outline that appears when you click on a link. */
a:focus {
	outline: none
}

/* Setting the font family for the h1, h2, h3, and h4 tags. */
h1, h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
	color: #696969;
}

/* Changing the color of the text when you highlight it. */
::-moz-selection {
	background-color: #a13436;
	color: #f4f4f4;
}

/* Changing the color of the text when it is selected. */
::selection {
	background-color: #a13436;
	color: #f4f4f4;
}

/* Clearing the float. */
.clear {
	clear: both;
}

/* Setting the font family, font size, color, background, and line height for the body of the page. */
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #494949;
	background: #f6f6f6;
	line-height: 1.5;
}

/* Setting the background color of the header-top div to #191734, setting the height to 120px, setting the min-height to
50px, setting the padding to 10px 0, setting the padding-top to 0, setting the position to relative, setting the top to
0, setting the z-index to 1, and setting the -webkit-transform to translate3d(0, 0, 0). */
#header-top {
	background: #191734;
	height: 120px;
	min-height: 50px;
	padding: 10px 0;
	padding-top: 0;
	position: relative;
	top: 0;
	z-index: 1;
	-webkit-transform: translate3d(0, 0, 0);
}

#nav-trigger-name {
	display: block;
	width: auto;
	height: inherit;
	float: left;
	position: relative;
	list-style-type: none;
	padding: 0;
}

/* Creating a CSS rule that will apply to the element with the id of news-name. */
#news-name {
	margin-top: 20px;
}

/* Making the list items display inline. */
#nav-trigger-name li {
	display: inline-block;
}


li.nav-trigger {
	display: block;
	width: 40px;
	height: 40px;
	margin-right: 20px;
	margin-top: 15px;
	margin-bottom: 0;
	float: left;
	position: relative;
}

/* The code is a media query that is used to change the CSS of the website when the screen size is less than 500px. */
@media all and (max-width: 500px) {
	li.nav-trigger {
		display: block;
		margin-bottom: 20px;
	}

	#logo {
		margin-top: -60px !important;
	}

	#logo-img {
		width: 140px;
	}

}

/* A media query that is used to make the website responsive. */
@media all and (max-width: 480px) {
	li.nav-trigger {
		display: block;
		margin-right: 10px;
		margin-bottom: 30px;
	}

	.tp-leftarrow {
		display: none;
	}

	.tp-rightarrow {
		display: none;
	}

	#header-top {
		height: 90px;
	}

	h1#news-head-name {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 0;
	}

	#news-head-slogan {
		font-size: 18px;
	}

	li.nav-trigger {
		margin-top: 0;
	}

	#logo {
		margin-top: -50px !important;
	}

	#logo-img {
		width: 100px;
	}

	#news-block-title h1 {
		font-size: 20px;
	}

	#news-block-title a {
		float: left !important;
		margin-right: 0 !important;
	}

	#projects-block-title div h1 {
		font-size: 20px;
	}
}

/* Styling the navigation trigger. */
#nav-tr {
	display: inline-block;
	width: 40px;
	height: 40px;
	border: none;
	margin-top: 25px;
	background: url("../assets/images/ics/nav-trigger.png") center no-repeat;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	opacity: 0.8;
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
}

/* Making the navigation bar transparent when the mouse is not hovering over it. */
#nav-tr:hover {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
}

#nav-tr:focus {
	outline: none;
}

#news-head-name {
	color: #dbe0cc;
	margin-bottom: 5px;
}

#news-head-slogan {
	margin: 0 !important;
	color: #e03438;
}

/* The code is setting the display of the social links to inline-block, setting the width to 272px, setting the float
to right, setting the padding to 0, setting the list-style-type to none, setting the position to relative, and setting
the margin-top to 10px. */
#social-links {
	display: inline-block;
	width: 272px;
	float: right;
	padding: 0;
	list-style-type: none;
	position: relative;
	margin-top: 10px;
}

/* Setting the display, float, margin, width, and height of the list items. */
#social-links li {
	display: inline-block;
	float: left;
	margin-right: 18px;
	width: 32px;
	height: 32px;
}

#social-links li:last-child {
	margin-right: 0;
}


#social-links li a {
	opacity: 0.3;
	-webkit-opacity: 0.3;
	-moz-opacity: 0.3;
}

#social-links li a:hover {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
}

.wide {
	width: 100% !important;
}

#mo-social-links {
	display: none;
	padding: 0;
	list-style-type: none;
	position: relative;
	margin: 20px;
}

/* Setting the style for the social links. */
#mo-social-links li.mo-social-links-li {
	display: inline-block;
	float: left;
	margin-left: 18px;
	width: 32px;
	height: 32px;
}

#mo-social-links li.mo-social-links-li:last-child {
	margin-left: 0;
}


#mo-social-links li.mo-social-links-li a.mo-social-links-a {
	display: block;
	width: 32px;
	height: 32px;
	padding: 0;
	opacity: 0.3;
	-webkit-opacity: 0.3;
	-moz-opacity: 0.3;
	background: none;
	border: none;
}

#mo-social-links li.mo-social-links-li a.mo-social-links-a:hover {
	opacity: 1;
	background: transparent;
	-webkit-opacity: 1;
	-moz-opacity: 1;
}

@media all and (max-width: 600px) {
	#social-links {
		display: none;
	}

	#mo-social-links {
		display: inline-block;
	}

	#news-block-title h1 {
		font-size: 20px;
	}
}

/* A media query. It is saying that if the screen is 700px or less, then the font size of the news-head-name id will be
2em. */
@media all and (max-width: 700px) {
	#news-head-name {
		font-size: 2em;
	}

	#news-trophies .flexable {
		flex-direction: column;
	}

	#news-trophies .flexable h4 {
		margin-bottom: 20px;
	}
	.mb-sm-20 {
		margin-bottom: 20px !important;
	}
}

#logo {
	z-index: 900;
	margin-top: -120px;
	position: relative;
	text-align: center;
}

#logo a {
	display: inline-block;
	margin: 0 auto;
	position: relative;
}


.bannercontainer {
	width: 100%;
	position: relative;
	padding: 0;
}


.forcefullwidth_wrapper_tp_banner {
	margin-top: -90px;
	position: relative;
	top: 0;
}

/* The code is creating a button that is 50px high and 100% wide. The button is red and has white text. */
a.btn-more {
	display: block;
	width: auto;
	height: 50px;
	line-height: 50px;
	background: #e03438;
	font-size: 15px;
	color: #fff;
	float: right;
	padding: 0 30px;
}

#wide-title {
	position: relative;
	margin-top: 50px !important;
}

.hor-line {
	width: 100%;
	height: 5px;
	position: absolute;
	top: 40px;
	background: #dedede;
}

/* Setting the background image of the element to a horizontal line. */
.with-hor-line {
	background: url("../assets/images/hor-line-tex.gif") repeat-x center;
	vertical-align: middle;
}

.wide-block-title {
	position: relative;
	text-align: center;
	background: #f6f6f6;
	z-index: 99;
}

.wide-block-title .wide-block-title-green {
	color: #a13436;
	margin-bottom: 4px !important;
}

.wide-block-title .wide-block-title-grey {
	color: #717171;
	margin-top: 2px !important;
}

#news-trophies {
	position: relative;
	background: #7a7a7a;
	padding: 30px 0 !important;
}

#news-trophies h2 {

	margin-bottom: 5px;
	color: #f6f6f6;
}

#news-trophies h4 {
	color: #f8f8f8;
}


.trophy-item {
	text-align: center;
}


.trophy-item a {
	text-align: center;
	color: #f6f6f6 !important;
}

.trophy-item a img {
	display: block;
	margin: 0 auto;
	margin-bottom: 4px;
}


/* Styling the link to the about page. */
a#know-us-more {
	display: block;
	padding: 10px;
	text-align: center;
	color: #e0e0e0;
	font-size: 1.8em;
	font-weight: normal;
	line-height: 80px;
	margin-top: 30px;
	margin-bottom: 10px;
	background: #094022;
}

a#know-us-more:hover {
	background: #e0e0e0;
	color: #094022;
}

.more-news-block {
	margin: 0 0 15px 0;
}

.more-news-block p {
	margin: 3px 0 0 0;
	font-size: 11px;
	color: #717171;
}

.more-news-img, .big-news-image {
	display: block;
	margin-bottom: 5px;
}

.more-news-img {
	max-height: 200px;
	overflow: hidden;
}

.more-news-img img {
	width: 100%;
	height: 150px;
	object-fit: cover;
}

#news-projects {
	background: #fefefe;
	padding-top: 30px !important;
}

.slide-holder {
	direction: ltr;
}

.slide-item {
	text-align: center;
}

.slide-item a {
	display: block;
	margin-bottom: 10px;
}

.reusable-block {
	margin-bottom: 20px;
	position: relative;
}

.reusable-block:last-child {
	margin-bottom: 0;
}

.reports-list {
	display: block;
	list-style-type: none;
}

/* Setting the style for the list items in the reports list. */
.reports-list li {
	display: block;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	border-bottom: 1px solid #c3c3c3;
}

.reports-list li:hover {

	background: #fefefe;
}


.reports-list a.rep-dl {
	display: block;
	min-width: 20px;
	min-height: 23px;
	margin: auto 0;
	background: url("../assets/images/ics/report-dl.png") center no-repeat;
	opacity: 0.6;
	-webkit-opacity: 0.6;
	-moz-opacity: 0.6;
}

.reports-list a.rep-dl:hover {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
}

.reports-list li .rep-desc {
	color: #444;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}

#horonr-board {
	padding: 20px !important;
	background: #a13436;
}

#horonr-board a:hover h3 {
	text-decoration: none;
	color: #fff !important;
}

#horonr-board p {
	color: #fff !important;
}


/* The above code is creating a class called photo-gal-item. */
.photo-gal-item {
	display: block;
	background: #4674c2;
	margin-bottom: 30px;
}

a.photo-gal-item:hover img {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-webkit-transform: scale(0.9, 0.88);
	-moz-transform: scale(0.9, 0.88);
}

/* Changing the footer background color, padding, and margin. */
#footer {
	background: #e8e8e8;
	padding-top: 30px !important;
	padding-bottom: 0px !important;
	margin-top: 30px !important;
}

.footer-block {
	margin-bottom: 30px;
}

.footer-block h2 {
	margin: 0 0 10px 0;
}

.footer-nav {
	display: block;
	width: 100%;
	height: auto;
	position: relative;

}

/* The code is creating a list of items that will be displayed in the footer. */
.footer-nav li {
	display: block;
	list-style: none;
	line-height: 20px;
	padding: 15px 10px 15px 50px;
	border-bottom: 1px solid #d0d0d0;
	background: url("../assets/images/ics/check.png") left no-repeat;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.footer-nav li:last-child {
	border-bottom: none;
}

.footer-nav li:hover {
	background: #f0f0f0 url("../assets/images/ics/check.png") left no-repeat;
}


/* The code is setting the display to block, width to inherit, height to inherit, line-height to inherit, color to
#7c7c7c, and text-decoration to underline. */
.footer-nav li a {
	display: block;
	width: inherit;
	height: inherit;
	line-height: inherit;
	color: #7c7c7c;
	text-decoration: underline;
}

.footer-nav li a:hover {
	color: #e03438 !important;
}

.p-0 {
	padding: 0 !important;
}

#footer-logo {
	display: block;
	text-align: center;
	margin: 0 auto;
}

#content-bar {
	margin-bottom: 20px;
}

.sidebar-block {
	margin-bottom: 30px;
}

.comment-item {
	position: relative;
	margin-bottom: 30px;
}

.comment-avatar {
	background: #e03438;
	min-height: 30px;
	margin-right: 20px;
}

.comment-info {
	padding-top: 30px;
	background: #e8e8e8;
}

.gallery-album-cont {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #dbdbdb;
}

#projects-page-holder {
	direction: ltr;
}

#projects-page-holder .project-item {
	direction: rtl;
}

h3, .h3 {
	font-size: 20px;
}

.flexable {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.flexable--row {
	flex-direction: row;
}

.flexable--center {
	align-items: center;
	justify-content: center;
}


.no-p {
	padding: 0 !important;
}

/*this code has been taken from  https://loading.io/css/*/
.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}

.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #e03438;
	border-color: #e03438 transparent #e03438 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
	text-align: center;
}

.partner-entry img {
	display: inline-block;
	max-width: 150px;
	max-height: 120px;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}







